<!-- Modal Structure -->
<div id="modal1" class="modal modal_style">
    <div class="modal-content">

        <div class="row">

            <form class="col s12" action="#" method="POST" id="add_work_history_form">
                <div class="row">
                    <div class="my_input-field col s12">
                        <label id="add_work_history_text">Add Work Experience</label>
                        <input placeholder="Company Name" class="add_work_history_row" id="company_name" type="text">

                    </div>

                    <div class="my_input-field col s12">
                        <input placeholder="Date Range" class="add_work_history_row" id="company_dates" type="text">
                        <!-- <label for="first_name">Date Range</label> -->
                    </div>

                    <div class="my_input-field col s12">
                        <span id="remove_field" class="badge">
                            <i class="tiny material-icons ">close</i>
                        </span>
                        <input placeholder="Company Description" class="add_work_history_row" id="company_description"
                            type="text">
                        <!-- <label for="first_name">Company Description</label> -->
                    </div>
                </div>
                <div class="row">
                    <div id="work_examples">
                        <div class="my_input-field col s11 offset-s1">

                            <i class="tiny material-icons left" id="experience_bullet"> lens</i>

                            <span id="remove_field" class="badge">
                                <i class="tiny material-icons ">close</i>
                            </span>

                            <input placeholder="example..." class="add_work_history_row" id="company_name" type="text">

                        </div>

                        <div class="my_input-field col s11 offset-s1">

                            <i class="tiny material-icons left" id="experience_bullet"> lens</i>

                            <span id="remove_field" class="badge">
                                <i class="tiny material-icons ">close</i>
                            </span>

                            <input placeholder="example..." class="add_work_history_row" id="company_dates" type="text">

                        </div>
                    </div>
                </div>

                <br>

                <a class="btn waves-effect waves-light valign-wrapper" id="add_more_experience"> ADD MORE WORK
                    EXAMPLES
                    <i class="material-icons right"> add</i>
                </a>

                <button class="btn waves-effect waves-light right" type="submit" id="company_search_button">
                    SAVE WORK EXPERIENCE
                    <i class="material-icons right"> add</i>
                </button>

            </form>

        </div>

    </div>
</div>