<ul class="collapsible z-depth-2 float_left stay click" id="work_history_section">
    <li>
        <div class="collapsible-header z-depth-4" id="create_box">

            Work History
            <span id="icon_button" class="badge">
                <i class="tiny material-icons plus_sign">work</i>
            </span>
            <span id="close_button" class="badge hidden">
                <i class="tiny material-icons plus_sign">close</i>
            </span>
        </div>

        <div class="collapsible-body z-depth-4" id="create_box_body">

            <div class="work_history_data">

                <div class="row">

                    <div class="col s12">

                        <div class="position left"> Sr. Pricing Analyst</div><div class="work_history_dates hidden">May 2013 – Present</div>
                        <div class="work_history_details">
                            <br><br>


                            <div id="hide_details">
                                <div class="duration"> May
                                    2013 – Present</div>
                                <div class="description"> (IntelePeer provides on-demand cloud-based IP communications
                                    and
                                    SIP
                                    trunking services for unified
                                    communications systems, contact centers, and enterprises.)</div>

                            <div id="bullet_section">
                                <div class="work_history_bullet" contenteditable="true">

                                    <span class="bullet_menu right hidden">
                                        <div class="badge bullet_menu_icon" id="bullet_menu_icon_height">
                                            <i class="tiny material-icons" id="bullet_icon_close">close</i>
                                        </div>
                                        <div class="badge bullet_menu_icon" id="bullet_menu_icon_height">
                                            <i class="tiny material-icons" id="bullet_icon_edit">save</i>
                                        </div>
                                    </span>

                                    <div class="left work_history_checkbox">
                                        <label id="profile_work_experience_checkbox">
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="valign-wrapper">
                                        Analyze call record data using Excel and SQL to fix billing errors and
                                        resolve
                                        customer
                                        disputes.
                                    </div>
                                </div>

                                <!-- <div class="work_history_bullet">
                                    <span class="bullet_menu right invisible">
                                        <div class="badge bullet_menu_icon" id="bullet_menu_icon_height">
                                            <i class="tiny material-icons" id="bullet_icon_close">close</i>
                                        </div>
                                        <div class="badge bullet_menu_icon" id="bullet_menu_icon_height">
                                            <i class="tiny material-icons" id="bullet_icon_edit">edit</i>
                                        </div>
                                    </span>

                                    <div class="left work_history_checkbox">
                                        <label id="profile_work_experience_checkbox">
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="bullet_text">
                                        Work cross-functionally with multiple dparments to manage: customer
                                        pricing,
                                        account
                                        activations,
                                        billing disputes, vendor activations and vendor pricing.
                                    </div>
                                </div> -->

                                <!-- <div class="work_history_bullet">

                                    <span class="bullet_menu right invisible">
                                        <div class="badge bullet_menu_icon" id="bullet_menu_icon_height">
                                            <i class="tiny material-icons" id="bullet_icon_close">close</i>
                                        </div>
                                        <div class="badge bullet_menu_icon" id="bullet_menu_icon_height">
                                            <i class="tiny material-icons" id="bullet_icon_edit">edit</i>
                                        </div>
                                    </span>

                                    <div class="left work_history_checkbox">
                                        <label id="profile_work_experience_checkbox">
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </div>
                                    <div>
                                        Generate monthly, weekly and ad-hoc reports by consolidating data from
                                        multiple
                                        company
                                        programs and data warehouse.
                                    </div>
                                </div>

                                <div class="work_history_bullet">

                                    <span class="bullet_menu right invisible">
                                        <div class="badge bullet_menu_icon" id="bullet_menu_icon_height">
                                            <i class="tiny material-icons" id="bullet_icon_close">close</i>
                                        </div>
                                        <div class="badge bullet_menu_icon" id="bullet_menu_icon_height">
                                            <i class="tiny material-icons" id="bullet_icon_edit">edit</i>
                                        </div>
                                    </span>

                                    <div class="left work_history_checkbox">
                                        <label id="profile_work_experience_checkbox">
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </div>
                                    <div>
                                        Responded to ad hoc requests from sales, engineering and other company
                                        departments
                                        for
                                        detailed pricing analysis.
                                    </div>
                                </div>

                                <div class="work_history_bullet">

                                    <span class="bullet_menu right invisible">
                                        <div class="badge bullet_menu_icon" id="bullet_menu_icon_height">
                                            <i class="tiny material-icons" id="bullet_icon_close">close</i>
                                        </div>
                                        <div class="badge bullet_menu_icon" id="bullet_menu_icon_height">
                                            <i class="tiny material-icons" id="bullet_icon_edit">edit</i>
                                        </div>
                                    </span>

                                    <div class="left work_history_checkbox">
                                        <label id="profile_work_experience_checkbox">
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="bullet_text">
                                        Generate monthly, weekly and ad-hoc reports by consolidating data from
                                        multiple.
                                    </div>
                                </div>

                                <div class="work_history_bullet">

                                    <span class="bullet_menu right invisible">
                                        <div class="badge bullet_menu_icon" id="bullet_menu_icon_height">
                                            <i class="tiny material-icons" id="bullet_icon_close">close</i>
                                        </div>
                                        <div class="badge bullet_menu_icon" id="bullet_menu_icon_height">
                                            <i class="tiny material-icons" id="bullet_icon_edit">edit</i>
                                        </div>
                                    </span>

                                    <div class="left work_history_checkbox">
                                        <label id="profile_work_experience_checkbox">
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="bullet_text">
                                        Worked independently and regularly multitasked while managing multiple
                                        requests
                                        and
                                        work
                                        orders.
                                    </div>
                                </div>

                                <div class="work_history_bullet">

                                    <span class="bullet_menu right invisible">
                                        <div class="badge bullet_menu_icon" id="bullet_menu_icon_height">
                                            <i class="tiny material-icons" id="bullet_icon_close">close</i>
                                        </div>
                                        <div class="badge bullet_menu_icon" id="bullet_menu_icon_height">
                                            <i class="tiny material-icons" id="bullet_icon_edit">edit</i>
                                        </div>
                                    </span>

                                    <div class="left work_history_checkbox">
                                        <label id="profile_work_experience_checkbox">
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </div>
                                    <div>
                                        Formatted and migrated pricing data between SQL, Excel, and Access for
                                        uploading
                                        into
                                        company
                                        billing engine.
                                    </div>
                                </div>

                                <div class="work_history_bullet">

                                    <span class="bullet_menu right invisible">
                                        <div class="badge bullet_menu_icon" id="bullet_menu_icon_height">
                                            <i class="tiny material-icons" id="bullet_icon_close">close</i>
                                        </div>
                                        <div class="badge bullet_menu_icon" id="bullet_menu_icon_height">
                                            <i class="tiny material-icons" id="bullet_icon_edit">edit</i>
                                        </div>
                                    </span>

                                    <div class="left work_history_checkbox">
                                        <label id="profile_work_experience_checkbox">
                                            <input type="checkbox" />
                                            <span></span>
                                        </label>
                                    </div>
                                    <div>
                                        Created new customer accounts in SAP, SalesForce and company portal,
                                        applying
                                        products
                                        and
                                        pricing to unsure accurate billing.
                                    </div>
                                </div>

                            </div> -->

                                <!-- <div class="work_history_details">
                            <div class="position"> Pricing Analyst</div>
                            <div class="duration">May 2013 – Apr 2015 </div>
                            <div class="description"> (IntelePeer provides on-demand cloud-based IP communications and
                                SIP
                                trunking services for unified
                                communications systems, contact centers, and enterprises.)</div>

                            <ul class="margin_bullets"> -->
                            </div>
                        </div>
        <!-- Modal Trigger -->
                                <div id="work_history_buttons">

                                    <a class="waves-effect btn modal-trigger left" href="#modal1" id="profile_edit_section">EDIT
                                        CURRENT SECTION
                                    </a>

                                    <a class="waves-effect btn modal-trigger" href="#" id="profile_add_bullets">ADD
                                        MORE
                                        BULLETS
                                    </a>
                                    <a class="waves-effect btn modal-trigger" href="#modal_add_section" id="profile_add_section">ADD
                                        NEW
                                        SECTION 
                                    </a>

                                </div>

                                <div id="profile_work_add_new">
                                    <% include add_work_history %>
                                </div>

                            


                        </div>

                    </div>
                </div>
    </li>
</ul>