<ul class="collapsible z-depth-2 float_left stay click" id="work_history_section">
    <li>
        <div class="collapsible-header z-depth-4" id="create_box">

            Work History
            <span id="icon_button" class="badge">
                <i class="tiny material-icons plus_sign">work</i>
            </span>
            <span id="close_button" class="badge hidden">
                <i class="tiny material-icons plus_sign">close</i>
            </span>
        </div>

        <div class="collapsible-body z-depth-4" id="create_box_body">

            <div class="work_history_data">

                <div class="row">

                    <div class="col s12">


                        <div class="work_history_details">
                            <form action="#">
                                <div class="position"> Sr. Pricing Analyst</div>
                                <div class="duration"> Mayrt
                                    2013 – Present</div>
                                <div class="description"> (IntelePeer provides on-demand cloud-based IP communications
                                    and
                                    SIP
                                    trunking services for unified
                                    communications systems, contact centers, and enterprises.)</div>



                                <section title=".squaredOne">
                                    <!-- .squaredOne -->
                                    <div class="squaredOne">
                                        <input type="checkbox" value="None" id="squaredOne" name="check" checked />
                                        <label for="squaredOne"></label>
                                    </div>
                                    <!-- end .squaredOne -->
                                </section>

                                <section title=".squaredTwo">
                                    <!-- .squaredTwo -->
                                    <div class="squaredTwo">
                                        <input type="checkbox" value="None" id="squaredTwo" name="check" checked />
                                        <label for="squaredTwo"></label>
                                    </div>
                                    <!-- end .squaredTwo -->
                                </section>


                                <ul class="margin_bullets">

                                    <label id="profile_work_experience_checkbox">
                                        <input type="checkbox" />
                                        <span>Red</span>
                                    </label>

                                    <li class="bullet_point">
                                        - Work cross-functionally with multiple dparments to manage: customer pricing,
                                        account
                                        activations,
                                        billing disputes, vendor activations and vendor pricing.
                                    </li>




                                    <li class="bullet_point">
                                        - Analyze call record data using Excel and SQL to fix billing errors and
                                        resolve
                                        customer
                                        disputes.
                                    </li>
                                    <li class="bullet_point">
                                        - Generate monthly, weekly and ad-hoc reports by consolidating data from
                                        multiple
                                        company
                                        programs and data warehouse.
                                    </li>
                                    <li class="bullet_point">
                                        - Generate monthly, weekly and ad-hoc reports by consolidating data from
                                        multiple.
                                    </li>
                                    <li class="bullet_point">
                                        - Responded to ad hoc requests from sales, engineering and other company
                                        departments
                                        for
                                        detailed pricing analysis.
                                    </li>
                                    <li class="bullet_point">
                                        - Worked independently and regularly multitasked while managing multiple
                                        requests
                                        and
                                        work
                                        orders.
                                    </li>
                                    <li class="bullet_point">
                                        - Formatted and migrated pricing data between SQL, Excel, and Access for
                                        uploading
                                        into
                                        company
                                        billing engine.
                                    </li>
                                    <li class="bullet_point">
                                        - Created new customer accounts in SAP, SalesForce and company portal, applying
                                        products
                                        and
                                        pricing to unsure accurate billing.
                                    </li>
                                </ul>
                            </form>
                        </div>



                        <!-- <div class="work_history_details">
                            <div class="position"> Pricing Analyst</div>
                            <div class="duration">May 2013 – Apr 2015 </div>
                            <div class="description"> (IntelePeer provides on-demand cloud-based IP communications and
                                SIP
                                trunking services for unified
                                communications systems, contact centers, and enterprises.)</div>

                            <ul class="margin_bullets"> -->


                        <!-- </ul>
                        </div> -->
                        <!-- Modal Trigger -->
                        <a class="waves-effect btn modal-trigger" href="#modal1" id="profile_add_section">ADD SECTION
                        </a>

                        <div id="profile_work_add_new">
                            <% include add_work_history %>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </li>
</ul>