<div id="login_window">
	<div class="navbar-fixed">
		<nav id="profile_nav_style">
			<div class="nav-wrapper" id="profile_builder_nav">
				<!-- <div class="darken-1 z-depth-5" id="profile_card_width"> -->
				<img id="nav_logo_floating" src="images/logo.png" alt="" class="responsive-img z-depth-4">
				<a href="#" class="brand-logo" id="nav_logo">Digume </a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a id="nav_link" href="/profile_builder">Profile Builder</a></li>
					<li><a id="nav_link" href="/cover_letter_builder">Cover Letter Builder</a></li>
					<li><a id="nav_link" href="/profile">Profile</a></li>
				</ul>
			</div>
		</nav>
	</div>