<ul class="collapsible z-depth-2 float_right stay click" id="education_training_section">
    <li>
        <div class="collapsible-header " id="create_box">

            Education and Training
            <span id="icon_button" class="badge">
                <i class="tiny material-icons plus_sign">school</i>
            </span>
            <span id="close_button" class="badge hidden">
                <i class="tiny material-icons plus_sign">close</i>
            </span>

        </div>
        <div class="collapsible-body z-depth-4" id="create_box_body">

        </div>
    </li>
</ul>