<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue pulse" id="floating_add_button">
        <i class="large material-icons" id="floating_add_button_plus">add</i>
    </a>
    <ul>
        <li id="add_education"><a class="profile_add_item btn-floating red"><i class="material-icons">school</i></a></li>
        <li id="add_projects"><a class="profile_add_item btn-floating yellow darken-1"><i class="material-icons">dvr</i></a></li>
        <li id="add_passions"><a class="profile_add_item profile_add_section btn-floating green"><i class="material-icons">wb_sunny</i></a></li>
    </ul>
</div>