<div class="col s10 offset-s1 z-depth-4" id="builder_input">
    <p id="builder_input_text"> You can connect to your LinkedIn profile by clicking here:</p>

    <div class="col s6">
        <form action="/oauth/linkedin" method="GET">
            <center>
                <button class="btn waves-effect waves-light btn-large z-depth-4" id="import_linkedin" type="submit">Connect
                    to
                    LinkedIn
                    <i class="material-icons right">add_circle_outline</i>
                </button>
            </center>
        </form>
    </div>

    <div class="col s6">
        <form action="/load_user_info" method="GET">
            <center>
                <button class="btn waves-effect waves-light btn-large z-depth-4" id="load_linkedin" type="submit">Load
                    Your Data
                    <i class="material-icons right">add_circle_outline</i>
                </button>
            </center>
        </form>
    </div>
    <center>
        <div class="progress hidden" id="progress">
            <div class="indeterminate"></div>
        </div>
    </center>
</div>