<table>
    <tbody>
        <tr>
            <td id="profile_card_name" class="float_left">Your Name</td><br><br>
        </tr>
        <tr>
            <td id="profile_card_location" class="float_left">Where you live</td>
        </tr>
        <tr>
            <td id="profile_card_industry" class="float_left">Your work industry</td>
        </tr>
        <tr>
            <td id="profile_card_position" class="float_left">Your position</td>
        </tr>
        <tr>
            <td id="profile_card_company" class="float_left">Current company</td>
        </tr>

    </tbody>
</table>