<div id="social_media_links">
    <a href="#" class="fa z-depth-4 float_right social_meidia_icon" id="profile_phone_icon"><i class="small material-icons profile_card_icon">phone</i></a>
    <a href="#" class="fa z-depth-4 float_right social_meidia_icon" id="profile_email_icon"><i class="small material-icons profile_card_icon">email</i></a>
    <a href="#" class="fa fa-linkedin z-depth-4 float_right social_meidia_icon attention" id="profile_linkedin_icon"></a>
</div>