<!DOCTYPE html>
<html lang="en-us">

<head>
  <% include ../partials/style_and_links %>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div id="login_window">

    <% include ../partials/index_nav %>





    <div class="z-depth-5" id="shadow">
      <div class="login">


        <% include ../partials/home_page/login%>

        <% include ../partials/home_page/new_profile%>

      </div>
    </div>


  </div>
  <!-- 
  <% include ../partials/footer %> -->

</body>

</html>