<!DOCTYPE html>
<html lang="en-us">

<head>
  <% include ../partials/style_and_links %>
  <title>Digume</title>
</head>


<body>


  <% include ../partials/profile_nav %>

  <div class="row">



    <!-- //LEFT SIDE OF PAGE -->

    <div class="col s2" id="main_window_left">
      <div>
        <img id="linkedin_logo" src="https://cdn.worldvectorlogo.com/logos/linkedin.svg">
      </div>
    </div>



    <!-- //RIGHT SIDE OF PAGE -->

    <div class="col s10" id="main_window_right">

      <% include ../partials/profile_builder/linkedin_loads %>

    </div>
  </div>

  <% include ../partials/footer %>

</body>


</html>