<div class="darken-1 z-depth-5" id="profile_card_width">
    <% include profile_pieces/profile_picture %>
    <div class="content white-text">

        <% include profile_pieces/profile_card_details %>

        <% include profile_pieces/profile_card_links %>

    </div>
</div>